body {
    background-color: rgb(241, 239, 239);
    margin: 5%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
}
main {
    margin-top: 120px;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(138, 219, 211);
    width: 100%;
    text-shadow: 1px 2px tomato;
    
}
.settings {
    float: right;
    width: 100%;
}
#set-seconds-input{ 
cursor: text;
color: rgb(165, 157, 165);
font-family: 'Press Start 2P', cursive;
padding: 11px;
border: none;
text-align: center;
width: 30%;
}
input[type="number"] {
-webkit-appearance: textfield;
-moz-appearance: textfield;
appearance: textfield;
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
  }


#start-bttn { 
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    color: white;
    background-color: rgb(192, 134, 192);
border-radius: 0px;
padding: 10px;
border: none;
}




.game-section {background-color: white;
    margin: 17%;
    text-align: center;

}

#player-one { 
    color: lightcoral;
    font-weight: bolder;
    overflow: hidden;

}
#player-two { float: right;
    color: orange;
    font-weight: bolder;
   
}

p {
    text-align: center;
    color: teal;
}